---
---

<!DOCTYPE html>
<button>Display Types</button>
<script>
  chrome.devtools.panels.create(
      "marpes panel",
      "images/devtools-icon.png",
      "devtools/panel.html",
      () => {
        console.log("user switched to this panel");
      }
  );
</script>
