@import "open-props/src/extra/normalize.css";
@import "open-props/src/extra/buttons.dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /*background-image: var(--gradient-18);*/

    /* dark */
    --brand-dark: var(--orange-3);

    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-5);

    --surface-1-dark: var(--gray-12);
    --surface-2-dark: var(--gray-11);
    --surface-3-dark: var(--gray-10);
    --surface-4-dark: var(--gray-9);
    --surface-shadow-dark: var(--gray-12-hsl);
    --shadow-strength-dark: 80%;

    /* light */
    --brand-light: var(--orange-6);

    --text-1-light: var(--gray-8);
    --text-2-light: var(--gray-7);

    --surface-1-light: var(--gray-0);
    --surface-2-light: var(--gray-1);
    --surface-3-light: var(--gray-2);
    --surface-4-light: var(--gray-3);
    --surface-shadow-light: var(--gray-8-hsl);
    --shadow-strength-light: 2%;


    --brand: light-dark(var(--brand-light), var(--brand-dark));
    --text-1: light-dark(var(--text-1-light), var(--text-1-dark));
    --text-2: light-dark(var(--text-2-light), var(--text-2-dark));

    --surface-1: light-dark(var(--surface-1-light), var(--surface-1-dark));
    --surface-2: light-dark(var(--surface-2-light), var(--surface-2-dark));
    --surface-3: light-dark(var(--surface-3-light), var(--surface-3-dark));
    --surface-4: light-dark(var(--surface-4-light), var(--surface-4-dark));

    --surface-shadow: light-dark(var(--surface-shadow-light), var(--surface-shadow-dark));
    --shadow-strength: light-dark(var(--shadow-strength-light), var(--shadow-strength-dark));
}

body {
    color-scheme: dark;
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    padding: var(--size-fluid-3);

    background-color: var(--surface-1);
    color: var(--text-1);
    accent-color: var(--brand);
}

#app {
    display: contents;
}

pre {
    overflow: auto;
}

button {
    --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
    --_border: var(--indigo-6);
    --_text: var(--indigo-0);
    --_ink-shadow: 0 1px 0 var(--indigo-9);
}
